---
interface Props {
  num: string;
  type: string;
  svg: string;
  numClass: string;
  typeClass: string;
}

const { num, type, svg, numClass, typeClass } = Astro.props;
---
<a href={`tel:+855${num.replace(/\s/g, '').substring(1)}`} class="group flex items-center p-4 md:p-6 rounded-sm bg-slate-950 border border-slate-800 hover:border-amber-500/50 transition-colors duration-300 min-h-[64px] md:min-h-[88px]">
    <div class="w-10 h-10 md:w-12 md:h-12 rounded-full bg-slate-900 flex items-center justify-center shrink-0 mr-4 group-hover:bg-amber-500/10 transition-colors">
      <div set:html={svg} />
    </div>
    <div>
      <div class={numClass}>{num}</div>
      <div class={typeClass}>{type}</div>
    </div>
</a>
