---
import { Image } from 'astro:assets';
import type { BlogPost } from '../data/homeData';

interface Props extends BlogPost {
  titleClass: string;
  subTitleClass: string;
  linkClass: string;
  linkLabel: string;
}

const { title, subTitle, link, image, titleClass, subTitleClass, linkClass, linkLabel } = Astro.props;
---
<div class="group bg-white rounded-sm overflow-hidden shadow-sm hover:shadow-xl transition-shadow duration-500 border border-slate-100 flex flex-col">
    <a href={link} class="block aspect-[16/9] overflow-hidden relative bg-slate-200">
      <Image src={image} alt={title} width={1200} height={360} widths={[300, 510, 640]} sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw" format="avif" quality={50} decoding="async" loading="lazy" class="w-full h-full object-cover group-hover:scale-105 transition duration-700"/>
    </a>
    <div class="p-6 md:p-8 flex flex-col flex-grow">
      <h3 class={titleClass}>{title}</h3>
      <p class={subTitleClass}>{subTitle}</p>
      
      <a href={link} aria-label={`${linkLabel}: ${title}`} class={linkClass}>
          {linkLabel}
          <slot name="link-icon" />
      </a>
    </div>
</div>
